* {
  font-family: 'Exo', sans-serif !important;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.main_section {
  padding-left: 40px;
  padding-top: 40px;
}

button:focus {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.login_main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.login_main_wrapper .left_main_login {
  width: 50%;
}

.login_form {
  width: 300px;
  margin-left: 120px;
}

.login_main_wrapper .left_main_login .footer_login {
  color: #222;
  position: absolute;
  bottom: 20px;
  padding-left: 40px;
}

.login_main_wrapper .left_main_login .login-text {
  color: #65666d;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  font-style: italic;
  margin-top: 100px;
}

.login_main_wrapper .left_main_login .login-text .dispenser-txt {
  font-weight: bold;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.login_main_wrapper .left_main_login .login-text .dispenser_para {
  width: 400px;
}

.login_main_wrapper .right_main_login {
  width: 50%;
  background-image: url(../images/login.gif);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.login_main_wrapper .right_main_login .login_form h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
}

.login_main_wrapper .right_main_login .login-btn {
  width: 100%;
  background-color: #fff;
  border: none;
  height: 45px;
  border-radius: 20px;
  color: #1a649d;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  margin-top: 26px;
}

.fmService-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px;
}

.fmService-header .logout_btns button:nth-child(3) {
  background-color: #007dc3;
  color: #fff;
  border: none;
}

.common_input_inner input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.common_input .common_input_inner {
  position: relative;
  width: 100%;
}

.common_input_inner>div {
  width: 100%;
}

.common_input_inner label {
  color: #fff !important;
}

.common_input .common_input_inner input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  font-size: 16px;
  padding: 10px 0px;
  width: 100%;
  padding-left: 10px;
}

.common_input {
  margin-bottom: 20px;
}

/* Dashboard */
.dashboard_container {
  background-color: #edf1f5;
  height: 100vh;
  position: relative;
}

.sider_menu {
  width: 260px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  -webkit-box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;

}

.side_menu_logo img {
  height: 50px;
}

ul.side_menu_options li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.side_menu_options li a span img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: none;
}

.side_menu_header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.side_menu_logo {
  margin-top: 20px;
  padding-left: 20px;
}

.user_name {
  margin-top: 55px;
  color: #3c4858;
  font-weight: bold;
  font-size: 18px;
}

.user_email {
  color: #b0b0b0;
  letter-spacing: 1px;
}

.side_menu_options li {
  margin-bottom: 25px;
  position: relative;
}

.subChlid_menu {
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
}

.subSubChlid_menu {
  margin-left: 20px;
}

.user_info_wrapper {
  position: relative;
  padding-bottom: 10px;
  padding-left: 20px;
}

.user_info_wrapper:before {
  position: absolute;
  content: '';
  left: -20px;
  bottom: -3px;
  width: 280px;
  height: 1px;
  background: #ccc;
}

.side_menu_options {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  height: calc(100vh - 190px);
  overflow: auto;

}

.InnerChlid_menu_inner {
  margin-left: 20px;
}

.subSubChlid_menu_inner,
.InnerChlid_menu_inner {
  margin-top: 20px;
}

.subChlid_menu_inner {
  padding-right: 20px;
  padding-left: 10px;
  border-left: 2px solid #ddd;
}

.container_right {
  margin-left: 260px;
  height: 100vh;
  position: relative;
}

.footer_wrapper {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #3c4858;
}

.dashboard_header_right div:nth-child(1) button {
  background-color: #e84849;
  
}
.dashboard_header_right div:nth-child(1) button:hover{
  background-color: rgba(232, 72, 73, 0.6);
}

.dashboard_header_right div:nth-child(2) button,
.dashboard_header_right div:nth-child(3) button {
  background-color: #007dc3;
}

.dashboard_header_right div button {
  color: #fff;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashboard_header_right div button img {
  height: 15px;
  margin-right: 10px;
}

.right_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.dashboard_header_right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.card_container_inner {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 60px;
  position: relative;
}

.node_name {
  font-size: 18px;
  font-weight: bold;
}

.card_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.cncl_update_btns {
  margin-top: 20px;
}

.cncl_update_btns button {
  border: none;
  color: #fff;
  background-color: #007dc3;
  width: 117px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: 1px;
}

.card_header {
  background-color: #073e61;
  color: #fff;
  position: absolute;
  top: -17px;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
}

.cncl_update_btns button.cancel_node {
  background-color: transparent;
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  margin-right: 12px;
}

.card_input_inner {
  width: 100%;
}

.card_input_inner .MuiInput-underline-23:before {
  border-bottom: 1px solid rgba(164, 164, 164, 0.5) !important;
}

.card_input_inner .MuiInput-underline-71:hover:not(.MuiInput-disabled-70):not(.MuiInput-focused-69):not(.MuiInput-error-72):before {
  border-bottom: 1px solid rgba(164, 164, 164, 0.5) !important;
}

/* .card_input_inner .MuiFormLabel-root-60.MuiFormLabel-focused-64 {
  color: rgba(164, 164, 164, 0.5) !important;
}

.card_input_inner .MuiFormLabel-root-12.MuiFormLabel-focused-13 {
  color: rgba(164, 164, 164, 0.5) !important;
} */

MuiFormLabel-root-12 .card_input_inner input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(164, 164, 164, 0.5);
  width: 100%;
  padding-bottom: 20px;
  font-size: 16px;
}

.card_input {
  margin-bottom: 40px;
  position: relative;
}
span.tooltip-reject {
  position: absolute;
  right: 25px;
}
span.tooltip-reject span {
   display: none;
    position: absolute;
    right: -6px;
    top: 33px;
    z-index: 9999;
    min-width: 100px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 6px;
    padding: 5px 12px;
    cursor: pointer;
    white-space: nowrap;
}
.tooltip-reject:hover span , .tooltip-command_info:hover span ,
.tooltip-execute:hover span{
 display: block;
}
.tooltip-reject span:before{
  border-bottom: 12px solid #3d3d3d;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  display: inline-block;
  right: 10px;
  position: absolute;
  top: -11px;
  right: 4px;
}
.tooltip-command_info span , .tooltip-execute span{
  display: none;
  position: absolute;
  left:-10px;
  top: 33px;
  z-index: 9999;
  min-width: 100px;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 6px;
  padding: 5px 12px;
  cursor: pointer;
  min-width: 100px;
  white-space: nowrap;
  font-weight: normal;
}
.tooltip-command_info span:before , .tooltip-execute span:before {
  border-bottom: 12px solid #3d3d3d;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  display: inline-block;
  left: 7px;
  position: absolute;
  top: -11px;
}

.step_forward {
  border-bottom: 1px solid rgba(164, 164, 164, 0.5);
  width: 100%;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  position: relative;

}

.commands_container {
  margin-bottom: 40px;
}

.steps_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

.execute_btn button {
  background-color: #007dc3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;
}

.steps_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px 0px 100px;
  position: relative;
}
.step_name {
  position: absolute;
  left: 6px;
  top: 35px;
  color: #b0b0b0;
  font-size: 16px;
  font-weight: normal;
}
span.tooltip-execute {
  position: absolute;
  left: 250px;
  top: 40px;
}

.steps_count_left .count_value {
  width: 90px;
  display: inline-block;
  padding-bottom: 17px;
  font-size: 16px;
  color: #007dc3;
  font-weight: 600;
  margin-left: 50px;
}

.count_value div input {
  text-align: center;
}
span.tooltip-command_info {
  position: absolute;
  left: 190px;
}
.steparrow {
  float: right;
  margin-right: 20px;
  margin-top: 17px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.node-breadcrumb span {
  margin-right: 24px;
  color: #949494;
  position: relative;
  cursor: pointer;
}

.active_steprrow {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
ul.side_menu_options li a.dropdown_visible span img {
  display: block;
}

.node-breadcrumb span:before {
  position: absolute;
  content: '>';
  left: -17px;
  color: #949494;
}

li.active_main_menu >a {

  width: 100%;
  display: flex;
  background-color: #007dc3;
  color: #fff;
  padding: 10px 0px 10px 10px;
  border-radius: 6px;
  justify-content: space-between;
}
li.parent_select >a {

  width: 100%;
  display: flex;
  background-color: #ddd;
  color: #000000;
  padding: 10px 0px 10px 10px;
  border-radius: 6px;
  justify-content: space-between;
}
ul.side_menu_options li.active_main_submenu>a .menu-title {
  color: #007dc3;
}

ul.side_menu_options li.active_arrow_submenu>a span img {
  transform: rotate(120deg);
}

ul.side_menu_options li.active_main_menu>a span img {
  filter: brightness(0) invert(1);
}

ul.side_menu_options>li.active_main_menu>a .menu-title:hover {
  color: #fff;
}

ul.side_menu_options li.active_main_menu a.dropdown_visible span img {
  margin-right: 10px;
}

.node-breadcrumb span:nth-child(1):before {
  display: none;
}

.none {
  display: none;
}

.hoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.no_parameters {
  height: calc(100vh - 530px);
}

.no_parameters p,
.no_card_found {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.non_editable div {
  opacity: 0.65;
}

.snakbar_hoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.success_bar {
  background-color: #4caf50;
  color: #fff;
  width: 500px;
  position: absolute;
  left: 50%;
  min-height: 50px;
  text-align: center;
  transform: translate(-50%);
  line-height: 25px;
  padding-top: 10px;
}

.faliure_bar {
  background-color: #f43f14;
  color: #fff;
  width: 500px;
  position: absolute;
  left: 50%;
  min-height: 50px;
  text-align: center;
  transform: translate(-50%);
  line-height: 25px;
  padding-top: 10px;
}

.common_input_inner.MuiInput-underline-23:before {
  border-bottom: 1px solid #fff !important;
}

.common_input_inner .MuiInput-underline-71:hover:not(.MuiInput-disabled-70):not(.MuiInput-focused-69):not(.MuiInput-error-72):before {
  border-bottom: 1px solid #fff !important;
}

.card_input_inner .MuiFormLabel-root-60.MuiFormLabel-focused-64 {
  color: #fff !important;
}

.common_input_inner .MuiFormLabel-root-12.MuiFormLabel-focused-13 {
  color: #fff !important;
}

.loader_content {
  color: #fff;
}
.logout_confirm_btn {
  width: 117px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: 1px;
}

.confirm_yes {
  border: none !important;
  color: #fff !important;
  background: #007dc3 !important;
}
.modal-footer .btn+.btn:focus {
  outline: 0;
}

.dashboard_header_right div:nth-child(2) button:hover,
.dashboard_header_right div:nth-child(3) button:hover {
  background-color: rgba(0, 125, 195, 0.8);
}

.logout_popup {
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 30px;
  border-radius: 6px;
}

.confirm_logout button {
  width: 117px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: 1px;
}

.yes_logout {
  border: none;
  color: #fff;
  background: #007dc3;
  margin-right: 35px;
}

.no_logout {
  background: transparent;
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  margin-right: 12px;
  margin-right: 0;
}

.logout_popup h4 {
  margin-bottom: 30px;
  text-align: center;
}

.confirm_logout {
  text-align: center;
}

.remove_popup {
  text-align: right;
  margin-bottom: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -17px;
  margin-right: -18px;
}

.confirm_logout button.yes_logout:hover {
  background-color: rgba(0, 125, 195, 0.8);
}

.popup_hoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.cncl_update_btns button.update_node:hover,
.execute_btn button:hover {
  background-color: rgba(0, 125, 195, 0.8);
}

.cncl_update_btns button.cancel_node:hover,
.confirm_logout button.no_logout:hover {
  background-color: rgba(69, 80, 90, 0.3);
  color: #fff;
}

.noneclass {
  display: none;
}

@media screen and (min-width:1800px) {
  .no_parameters {
    height: calc(100vh - 750px);
  }
}


/* FOR PROGRESS BAR */

#myProgress {
  width: 100%;
  background-color: #ddd;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-radius: 20px;
  position: relative;
}

.progressbar-progress {
  height: 25px !important;
  border-radius: 25px;
  color: #fff;
}
.progressbar-progress.aborted_state{
  background-color: rgba(128, 128, 128, 0.4) !important;
}
.red_aborted{
    color: #e84849!important;
}
.aborted_steps{
  color: #343435;
}
.progress_bar_container.aborted_state .progressbar-container .progressbar-progress
{
  background-color: rgba(128, 128, 128, 0.4) !important;
}

.popup_hoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.logout_popup {
  width: 450px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 30px;
  border-radius: 6px;
}

.progress_status {
  color: #4caf50;
  margin-bottom: 41px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.progress_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup-footer .progress_btns button.abort_progressbar {
  color: #fff;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #e84849;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-footer .progress_btns button.reset_progressbar {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  margin-right: 12px;
}

.popup-footer button.abort_progressbar img {
  height: 15px;
  margin-right: 10px;
}

.popup-header h4 {
  margin-bottom: 20px;
  color: #343435;
}

.status_update {
  color: #343435;
  font-weight: 700;
}

.status_update span {
  color: #fbba49;
  margin-left: 10px;
}

.popup-header {
  text-align: center;
  margin-bottom: 35px;
}

.popup-footer button.abort_progressbar:hover {
  background-color: rgba(232, 72, 73, 0.8);
}

.popup-footer button.reset_progressbar:hover {
  background-color: rgba(69, 80, 90, 0.3);
  color: #fff;
}

.close_progressbar {
  background-color: #007dc3;
  color: #fff;
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.close_command_popup {
  text-align: right;
}

.card_container_inner>div {
  max-height: 400px;
  overflow: auto;
}

.percent_progressbar {
  position: absolute;
  color: #fff;
  top: 2px;
  left: 20px;
  z-index: 99;
}

.green {
  color: #4caf50 !important;
}

.likeImg {
  margin-right: 10px;
  margin-top: 5px;
}

/* custom scrollbar */

/* width */
.card_container_inner>div::-webkit-scrollbar,
.side_menu_options::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.card_container_inner>div::-webkit-scrollbar-track,
.side_menu_options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.card_container_inner>div::-webkit-scrollbar-thumb,
.side_menu_options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.node-breadcrumb span:hover {
  color: #007dc3;
  font-weight: 500;
}

.execute_head {
  position: relative;
  padding-bottom: 50px;
}

.execute_btn {
  position: absolute;
  bottom: 0px;
  right: 40px;
}
.tooltip-info{
  position: absolute;
  right: 12px;
  top: 42px;
  z-index: 9999;
  min-width: 100px;
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  word-break: break-all;
opacity: 0;
}
.card_input.info:hover:before .tooltip-info{
 opacity: 1;
}
.tooltip-info:before{
  border-bottom: 12px solid #3d3d3d;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  display: inline-block;
  right: 10px;
  position: absolute;
  top: -11px;
  right: 4px;
}

.danger_img{
  margin-right: 10px;
}
.tooltip-execute span{
  white-space: initial;
  min-width: 150px;
}
.close_progressbar:hover{
  background-color: rgba(0, 125, 195, 0.8);
}
.parameter_label label{
  font-weight: 500;
  color: #000 !important;
  letter-spacing: 1px;
  color: #3d3d3d !important;
  opacity: 1!important;
}


